pre {
  background-color: transparent ; 
  border: 0 ; 
  border-radius: 0 ;
  padding: 10px 0; 
}

code { font-family: 'Ubuntu Mono', sans-serif !important; }
pre code { background-color: #fff; border-top: 5px solid #ddd; border-bottom: 5px solid #ddd; margin-top: 10px;}
h1 code { font-weight: 300; font-size: 1em !important; background-color: #eee; padding: 0px 5px; border-radius: 5px; }

.fullcode pre code {
  overflow-y: scroll;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 20px 20px !important;
}
