h1, h2, h3, h4 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 10px;
}
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1em; }

a {
    color: #F92672;
    text-decoration: none;
}
.task {
    float: right;
    font-size: 0.9em;
    padding-top: 0.6em;
}
.task a {
    color: #080;
    text-decoration: none;
}

.uline {text-decoration: underline;}
.xkcd_font { font-family: 'humorsans' !important; font-size: 2.0em; font-weight: normal;}
.xkcd_font h1 { font-family: 'humorsans' !important; font-size: 2.0em; font-weight: normal;}

.pink100   { color: #F8BBD0; }
.red    { color: #FF4943; }
.gray   { color: #787878; }
.green  { color: #87A558; }
.blue   { color: #41C8F0; }
.yellow { color: #DBEC62; }
.white  { color: #FFFFFF; }
.black  { color: #000000 !important; }

.or1 {color: #FFD740;}
.bluelight {color: #B3E5FC;}
.dark1 {color: #B6B6B6;}

.bold { font-weight: bold; }

.fonth2 {font-size: 3em;}
.fonth3 {font-size: 2.4em;}
.fonth4 {font-size: 2em;}
.fonth5 {font-size: 1.4em;}

h1 .fsize175 {font-size: 175px !important;}
h1 .fsize150 {font-size: 150px !important;}
h1 .fsize140 {font-size: 150px !important;}
h1 .fsize125 {font-size: 125px !important;}
h1 .fsize115 {font-size: 115px !important;}
h1 .fsize105 {font-size: 105px !important;}
h1 .fsize95 {font-size: 95px !important;}
h1 .fsize85 {font-size: 85px !important;}
h1 .fsize75 {font-size: 75px !important;}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.fillblue   { fill: #41C8F0; }
.fillwhite  { fill: white; }

