.fig img {
  width: 100%;
  padding: 0;
  margin: 0;
}
.fig90 img {
  width: 90% !important;
}
.fig95 img {
  width: 95% !important;
}

.figplain img {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: rgba(255,255,255,0.5) solid 5px;
  border-bottom: rgba(255,255,255,0.5) solid 5px;
  background-color: rgba(0,0,0,0.2);
}
.figplaint img {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.figplaint-60 img {
  width: 60%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.figplaint-70 img {
  width: 70%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.figplaint-75 img {
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.figplaint-95 img {
  width: 95%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.figplaint-90 img {
  width: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.figplaint-maxh550 img, .figplaint-maxh450 img, .figplaint-maxh350 img {
  max-height: 550px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.figplaint-maxh450 img {
  max-height: 450px;
}
.figplaint-maxh350 img {
  max-height: 346px;
}

.figplainw img {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: rgba(255,255,255,0.5) solid 5px;
  border-bottom: rgba(255,255,255,0.5) solid 5px;
  background-color: rgba(255,255,255,0.2);
}
.figplaindark img {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: rgba(255,255,255,0.5) solid 5px;
  border-bottom: rgba(255,255,255,0.5) solid 5px;
  background-color: rgba(0,0,0,0.5);
}
.noborder img {border:none !important;}

.figstyle1 img {
  -webkit-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);  
  width: 100%;
}
.figstyle1h img {
  -webkit-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);  
  max-width: 100%;
  max-height: 600px;
}
.figstyle1h {}

.figround1 img {
  -webkit-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 55px 0px rgba(0,0,0,0.75);  
  width: 100%;
  border-radius: 50%;
}

