.fullwidth, .fullwidth table {width: 100% !important;}
.fullheight {max-height: 100% !important;}


.size_300_200 {
  margin: 0px;
  width: 400px;
  height: 300px;
}
.size512 {
  margin: 0px;
  width: 512px;
  height: 512px;
}
.size800 {
  margin: 0px;
  width: 800px;
  height: 800px;
}

